<h2>Nothing to see here. Just a page</h2>

<img src="http://farm9.staticflickr.com/8815/17638694349_f2741a07c6.jpg", width="500" , height="400"> </img>

<%= form_tag kittens_path method: :post do  %>
  <%= label_tag :name, "Kitty name:" %>
  <%= text_field_tag "kitten[name]" %><br>
  <%= submit_tag "send kitty to space" %>
<% end %>